/*** brand pages ***/
.p_brand .container.x84 {border-right:0}
.p_brand .right-sidebar.x24  {background:none}
.company-logo-tile {padding:50px 15px 20px 15px;height:165px;margin-top:-250px}
.company-logo-tile-small {margin-top:-45px;height:59px}
.company-subscribers {margin:30px 0 10px 0}
.brand-side-menu {margin-top:30px}
.brand-side-menu a, .brand-main-menu li a {color:#191919;border-bottom:1px solid #b2b2b2;display:inline-block}
.brand-side-menu a {margin-top:9px}
.brand-side-menu a:hover, .brand-main-menu li a:hover {border-bottom-color:#191919}
.apps-stores {margin-top:85px}
.store {width:151px;height:53px}
/* */
.brand-main-menu {border-bottom:1px solid #d8d8d8;margin-bottom:18px}
.brand-main-menu li {float:left;margin-right:20px;padding:0 0 15px 0;position:relative}
.brand-main-menu li.active a {border-bottom-color:#fff;font-weight:bold}
.icon-brand-nav-active {background-position:-126px -234px;bottom:-1px;left:50%;margin-left:-6px}
/* */
.brand-post {border:1px solid #e5e5e5;width:428px;margin-bottom:50px;position:relative}
.brand-post-promo {border:0;width:430px}
.brand-post-pinned {position:absolute;top:12px;right:-4px;background:#ffdd39;width:30px;height:26px;text-align:center}
.brand-post-pinned i {color:#191606;line-height:28px;font-size:15px}
.brand-post-pinned s {width:4px;height:4px;bottom:-4px;right:0;background-position:-144px -234px}
.brand-col .brand-post:last-child {margin-bottom:0}
.brand-post-entry {padding:15px}
.brand-post-entry .created, .user-selector .created  {height:50px;padding:6px 0 0 60px;margin-bottom:4px}
.brand-post-entry .created .avatar {top:0;left:0}
.brand-post-entry .track-finger {border:1px solid #ccc}
/* */
.brand-post-comments {background:#f5f4f0;padding:10px 15px 15px 15px}
.brand-post-comments .pseudo-form {height:auto;width:94.47236180904523%;padding:0 10px}
.brand-post-comments .pseudo-form textarea{height:18px;line-height:16px;padding:5px 0;margin:0;display:block;resize:none!important;}
.brand-post-comments .pseudo-form.show textarea {height:78px}
.show + .brand-post-comments-bt {display:block}
.brand-post-comments .show.pseudo-form textarea{}
.brand-post-comments-list li {margin-top:10px}
/* */
.company-subscribe .btn-friendship u {display:none}
.subscribed:hover {padding:0 10px!important;background:#6d6d6d!important}
.subscribed:hover .icon-friendship {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity:0}
.company-subscribe .subscribed:hover b {display:none}
.company-subscribe .subscribed:hover u {display:block}
/* */
.brand-pos-add-title {height:40px}
.brand-post-add-cover {padding:10px}
.brand-post-add-cover-image {border:2px dashed #ccc;height:160px;padding:25px 25px 0 25px}
.brand-post-image-intro {min-height:50px}
.brand-post-image-add {background:#f6f6f6;min-height:200px}
/* */
.brand-write-step {height:38px;line-height:38px;background:#dbedf8;margin-right:5px;padding:0 10px 0 36px;font-weight:bold;color:#2279be}
.brand-write-step b {position:absolute;top:0;left:12px;font-size:21px;font-weight:bold;color:#a7c0d4}
.brand-write-step-active {color:#fff;background:#9bc854}
.brand-write-step-active b {color:#7aa03f}
/** **/
.brand_faq-h2 {background:url(../images/brands/t_yellow.png);width:207px;line-height:33px;text-align:center;margin-left:-14px}
.brand_faq-aut {width:33.3%}
.brand_faq-aut img {margin-left:-10px}
.brand-side-fq-t {background: url("../images/lines/l_lib-rev.png") no-repeat scroll 50% 0;padding:0 15px;width:146px;margin-bottom:-7px}
.brand-post-editor .user-selector-preview .created,
.brand-post-editor .pseudo-select-list-scrollbar .created {height:44px;padding-top:12px}
.brand-shw {-webkit-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2);box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2)}
.brand-side-fq-h3 {margin-bottom:-8px}